@import url('https://fonts.googleapis.com/css?family=Poppins:400,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3f3a34;
}

footer{
    margin-top: auto;
    background-color: #3f3a34;
    color: white;
    padding: 20px 0px
}

a{
    color: #3f3a34;
}


.yellow-section{
    min-height: 100px;
    background: rgb(251,165,74);
    background: linear-gradient(180deg, rgba(251,165,74,1) 0%, rgba(226,161,54,1) 100%);
}


textarea:focus, input:focus, input[type]:focus {
    border-color: #ffa64d;
    box-shadow: 0 1px 1px #ffa64d inset, 0 0 8px #ffa64d;
    outline: 0 none;
}

.active_button{
    color:white;
    height:15px;
    background-color: rgb(226, 0, 0);
    border:none; 
    padding: 0px 10px;
}

.active_button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
}

.home-image{
    height:300px;
    background-image: url('../images/design/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.img-default{
    width: 100px;
}

.img-step{
    width: 70px;
}

.txt-bold{
    font-weight: 900;
}

.txt-shadow{
    text-shadow: 0px 5px 8px rgba(0,0,0,0.6);
}

.btn-primary{
    background-color: #ffa64d;
    border: 0px;
    color: #3f3a34;
}

.btn-primary:hover{
    background-color: #faad60;
}


.btn .btn-primary .disabled{
    background-color: #ffc284;
}

.btn .btn-primary .active {
    background-color: #e7913b;
}

.btn-outline-primary{
    border: 1px solid #ff9f3f;
    color: #3f3a34;
}

.btn-outline-primary:hover{
    border: 1px solid #ffa64d;
    background-color: #f0f0f0;
    color: #3f3a34;color: #3f3a34;
}

.btn-outline-primary:{
    background-color: red;
}

.btn-outline-primary input[type="radio"]{
    box-shadow: 0 0 0 0px;
}

.btn-outline-primary:active:focus{
    box-shadow: none;
    background-color: red;
}

.btn-outline-image{
    border: 1px solid #f0f0f0;
}

.btn-outline-image:hover{
    border: 1px solid #ffa64d;
    background-color: #f0f0f0;
}

.btn-outline-image input[type="radius"]

.btn-outline-image img{
    width: 80px;
}

.btn-checkbox{
    background-color: #e4e4e4;
    border: 0px;
    color: #3f3a34;
}

.btn-checkbox input[type="checkbox"] input[type="radio"], .btn-primary:focus, .btn-primary:active{
    box-shadow: 0 0 0 0px;
}

.img-nav{
    width: 25px;
    border-radius: 50px;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.img-card {
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.img-modal img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.element {
    background: linear-gradient(
      to top,
      black, 
      transparent
    );
    height: 100%;
} 

.element_home{
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,0.7794468129048494) 0%, rgba(255,255,255,0.017542051000087544) 50%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.7794468129048494) 0%, rgba(255,255,255,0.017542051000087544) 50%);
    background: linear-gradient(0deg, rgba(0,0,0,0.7794468129048494) 0%, rgba(255,255,255,0.017542051000087544) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}
